## Data Cleaning Customer Address

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline
from datetime import datetime, date

In [17]:
#Loading the Customer Address Data from the excel file
df = pd.read_excel(r'C:\Users\Dhir\OneDrive\Desktop\DATA ANALYTICS\PYTHON PROJECT\Customer Segmentation\Raw_data.xlsx' , sheet_name = 'CustomerAddress')

In [18]:
 #Checking first 5 records from Customer Address Data
df.head(5)

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [19]:
#Information of columns and data-types of Customer Address Data.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

The data-type of columns looks fine. Let;s check for the data quality and apply data cleaning process where ever applicable to clean our dataset before performing any analysis.

## Total Records

In [14]:
print("Total records (rows) in the dataset : {}".format(cust_address.shape[0]))
print("Total columns (features) in the dataset : {}".format(cust_address.shape[1]))

Total records (rows) in the dataset : 3999
Total columns (features) in the dataset : 6

## Numeric Columns and Non-Numeric Columns

In [21]:
#select numeric columns
df_numeric = df.select_dtypes(include = [np.number])
numeric_cols = df_numeric.columns.values
print("The numeric columns are : {}".format(numeric_cols))

# select non-numeric columns
df_non_numeric = df.select_dtypes(exclude=[np.number])
non_numeric_cols = df_non_numeric.columns.values
print("The non-numeric columns are  : {}".format(non_numeric_cols))

The numeric columns are : ['customer_id' 'postcode' 'property_valuation']
The non-numeric columns are  : ['address' 'state' 'country']

## 1.Missing Values Check

Checking for the presence of any missing values in the dataset. If missing values are present for a particular feature then depending upon the situation the feature may be either dropped (cases when a major amount of data is missing) or an appropiate value will be imputed in the feature column with missing values.

In [22]:
#Total number of missing values
df.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

##### In the dataset there is no missing values.

## 2. Inconcistency Check in Data

We will check whether there is inconsistent data / typo error data is present in the categorical columns.
The columns to be checked are 'address', 'postcode' ,'state', 'country'.

### 2.1 State

In [23]:
df['state'].value_counts()

state
NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: count, dtype: int64

Here there are inconsistent data in State column. For New South Wales and Victoria we have two values, one being the full name and the other being their short name. The State names should be standardised and columns with state as New South Wales will be replaced by NSW and columns with state as Victoria will be replaced by VIC.

In [25]:
# Function to replace full satte names with their short forms.

def replace_state_names(state_name):

     # Making Short Form od State Names as standards
     if state_name == 'New South Wales':
         return 'NSW'
     elif state_name == ' Victoria':
         return 'VIC'
     else :
         return state_name
 
# Applying the above function to state column
df['state'] = df['state'].apply(replace_state_names)

After applying the above function the state name is standardised and there is no inconsistency in the state column.

In [27]:
df['state'].value_counts()

state
NSW         2140
VIC          939
QLD          838
Victoria      82
Name: count, dtype: int64

### 2.2 Country

In [28]:
df['country'].value_counts()

country
Australia    3999
Name: count, dtype: int64

There is no inconsistency of data in the Country column.

### Postcode

The Postcode column looks perfect. There is no inconsistency / typo in the data.

In [ ]:
df[['address' , 'postcode' , 'state' , 'country']].drop_duplicates

## 3. Duplication Checks

We need to ensure that there is no duplication of records in the dataset. This may lead to error in data analysis due to poor data quality. If there are duplicate rows of data then we need to drop such records.
For checking for duplicate records we need to firstly remove the primary key column of the dataset then apply drop_duplicates() function provided by Python.

In [33]:
#Dropping the primary key column i.e customer_id and storing into a temporary dataframe.
cust_address_dedupped = df.drop('customer_id' , axis =1).drop_duplicates()
print("Number of records after removing customer_id (pk), duplicates : {}".format(cust_address_dedupped.shape[0]))
print("Number of records in original dataset : {}".format(cust_address.shape[0]))

Number of records after removing customer_id (pk), duplicates : 3999
Number of records in original dataset : 3999

##### Since both the numbers are same.There are no duplicate records in dataset

## 4. Exporting the Cleaned Customer Demographic Data Set to csv

Currently the Customer Address dataset is clean. Hence we can export the data to a csv to continue our data analysis of Customer Segments by joining it to other tables.

In [39]:
df.to_csv('CustomerAddress_Cleaned.csv' , index=False)